<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Class Name"
      name="class_name"
      value="{{this.class_name}}"
    />
    <label for="floatingInput">Όνομα Τμήματος</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Class Cat"
      name="class_cat"
      value="{{this.class_cat}}"
    />
    <label for="floatingInput">Μάθημα Τμήματος</label>
  </div>
</div>

{{!-- <div class="col-12">
  <div class="form-floating mb-3">
    <textarea
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Comments"
      id="comments"
      name="comments"
      style="height: 150px;"
    >{{this.comments}}</textarea>
    <label for="floatingInput">{{this.comments}}</label>
  </div>
</div> --}}

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">
    Υποβολή
  </button>
</div>